<!-- Titlebar
================================================== -->
<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>Thank you!</h2>
        </div>
    </div>
</section>


<div class="container cart" *ngIf="purchase !== null">


    <!-- Cart Totals -->
    <div class="sixteen columns">
        <h3 class="headline">My Order</h3><span class="line margin-bottom-35"></span>
        <div class="clearfix"></div>
    </div>

    <div class="sixteen columns">

        <!-- Cart -->
        <table class="cart-table responsive-table">

            <tr>
                <th></th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            </tr>

            <tr *ngFor="let product of purchase.products">
                <td></td>
                <td class="cart-title"><a href="product/{{product.id}}">{{product.name}}</a></td>
                <td>{{product.price}}</td>
                <td>
                    <input type='text' readonly name="quantity" value={{product.quantity}} class="qty"/>
                </td>
                <td></td>
                <td></td>
            </tr>

        </table>

        <br>
        <div class="clearfix"></div>
        <table class="cart-table bottom">
            <tr>
                <th class="checkout-totals" *ngIf="purchase !== null">
                    <div class="checkout-subtotal">
                        Final Price: <span>${{purchase.finalPrice}}</span>
                    </div>
                </th>
            </tr>

        </table>
    </div>

</div>

<div class="margin-top-50"></div>
