<!-- Left in because I wasn't sure if it was needed -->


<!--<div class="login-container bg-light">-->
<!--<div class="login-box">-->
<!--<h1 >APP_NAME</h1>-->
<!--<div>-->
<!--<h6 class="d-inline-block">v{{version}}</h6>-->
<!--<div class="d-inline-block ml-3" ngbDropdown>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container">-->
<!--<div class="card col-md-6 mt-3 mx-auto">-->
<!--<div class="card-body">-->
<!--<h4 class="card-title text-center">-->
<!--<i class="far fa-3x fa-user-circle text-muted"></i>-->
<!--</h4>-->
<!--<form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>-->
<!--<div class="alert alert-danger" [hidden]="!error || isLoading" >-->
<!--Username or password incorrect.-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="d-block">-->
<!--<input type="text" class="form-control" formControlName="username" autocomplete="username"-->
<!--[placeholder]="'Username'"/>-->
<!--<span hidden>Username</span>-->
<!--<small [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"-->
<!--class="text-danger" >-->
<!--Username is required-->
<!--</small>-->
<!--</label>-->
<!--<label class="d-block">-->
<!--<input type="password" class="form-control" formControlName="password" autocomplete="current-password"-->
<!--[placeholder]="'Password'" required/>-->
<!--<span hidden>Password</span>-->
<!--<small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"-->
<!--class="text-danger">-->
<!--Password is required-->
<!--</small>-->
<!--</label>-->
<!--<div class="form-check">-->
<!--<label class="form-check-label">-->
<!--<input type="checkbox" class="form-check-input" formControlName="remember"/>-->
<!--<span>Remember me</span>-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--<button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">-->
<!--<i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>-->
<!--<span>Login</span>-->
<!--</button>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!-- Titlebar
================================================== -->
<section class="titlebar">
    <div class="container">
        <div class="sixteen columns">
            <h2>Login or Register</h2>
        </div>
    </div>
</section>

<!-- Container -->
<div class="container">

    <div class="six columns centered">

        <ul class="tabs-nav my-account">
            <li class=""><a (click)="resetValid()" href="#tab1">Login</a></li>
            <li><a href="#tab2" (click)="resetValid()">Register</a></li>
        </ul>

        <div class="tabs-container">
            <!-- Login -->
            <div class="tab-content" id="tab1" style="display: none;">
                <h3 class="headline">Login</h3><span class="line" style="margin-bottom:20px;"></span>
                <div class="clearfix"></div>

                <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>

                    <p class="form-row form-row-wide">
                        <label for="username">Username or Email Address: <span class="required">*</span></label>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="loginUsername" type="text"
                               class="input-text" name="username" id="username" value=""/>
                    </p>

                    <p class="form-row form-row-wide">
                        <label for="password">Password: <span class="required">*</span></label>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="loginPassword" class="input-text"
                               type="password" name="password" id="password"/>
                    </p>

                    <p class="form-row">
                        <input type="submit" class="button" name="login" value="Login"/>

                        <label for="rememberme" class="rememberme">
                            <input name="rememberme" type="checkbox" id="rememberme" value="forever"/> Remember
                            Me</label>
                    </p>

                    <p class="lost_password">
                        <a href="#">Lost Your Password?</a>
                    </p>
                    <div *ngIf="isValid == false" class="notification error closeable">
                        <p><span>Error!</span> Please provide valid credentials.</p>
                        <a class="close" href="#"></a>
                    </div>
                    <div *ngIf="isValid == true" class="notification success closeable">
                        <p><span>Success!</span> {{loginUsername}} logged in!</p>
                        <a class="close" href="#"></a>
                    </div>
                </form>
            </div>


            <!-- Register -->
            <div class="tab-content" id="tab2" style="display: none;">
                <h3 class="headline">Register</h3><span class="line" style="margin-bottom:20px;"></span>
                <div class="clearfix"></div>

                <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>

                    <p class="form-row form-row-wide">
                        <label for="reg_email">Email Address: <span class="required">*</span></label>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="registerEmail" type="email"
                               class="input-text" name="email" id="reg_email" value=""/>
                    </p>


                    <p class="form-row form-row-wide">
                        <label for="reg_password">Password: <span class="required">*</span></label>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="registerPassword1" type="password"
                               class="input-text" name="password" id="reg_password"/>
                    </p>

                    <p class="form-row form-row-wide">
                        <label for="reg_password2">Repeat Password: <span class="required">*</span></label>
                        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="registerPassword2" type="password"
                               class="input-text" name="password" id="reg_password2"/>
                    </p>

                    <p class="form-row">
                        <input type="submit" class="button" name="register" value="Register"/>
                    </p>
                    <div *ngIf="isValid == false" class="notification error closeable">
                        <p><span>Error!</span> Please provide valid credentials.</p>
                        <a class="close" href="#"></a>
                    </div>
                    <div *ngIf="isValid == true" class="notification success closeable">
                        <p><span>Success!</span> {{registerEmail}} registered!</p>
                        <a class="close" href="#"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="margin-top-50"></div>