<!-- Titlebar
================================================== -->
<section class="parallax-titlebar fullwidth-element" data-background="#000" data-opacity="0.45" data-height="160">

    <img src="src/theme/css/images/titlebar_bg_01.jpg" alt=""/>
    <div class="parallax-overlay"></div>

    <div class="parallax-content">
        <h2>Shop <span>International Shipping</span></h2>

        <nav id="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li>Products</li>
            </ul>
        </nav>
    </div>

</section>


<div class="container">

    <!-- Content
    ================================================== -->

    <div class="sixteen columns full-width">

        <!-- Ordering -->
        <select class="orderby">
            <option>Default Sorting</option>
            <option>Sort by Popularity</option>
            <option>Sort by Newness</option>
        </select>

    </div>

    <!-- Products -->
    <div class="products">

        <div class="four columns" *ngFor="let product of products | paginate: { itemsPerPage: 12, currentPage: page }">
            <figure class="product">
                <div class="mediaholder">
                    <a href="variable-product-page.html">
                        <img alt="" src="src/theme/css/images/shop_item_01.jpg"/>
                        <div class="cover">
                            <img alt="" src="src/theme/css/images/shop_item_01_hover.jpg"/>
                        </div>
                    </a>
                    <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                </div>

                <a href="variable-product-page.html">
                    <section>
                        <span class="product-category">Skirts</span>
                        <h5>{{product.name}}</h5>
                        <span class="product-price">${{product.finalPrice}}</span>
                    </section>
                </a>
            </figure>
        </div>

        <div class="clearfix"></div>

        <!-- Pagination -->
        <div class="pagination-container">
            <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
        </div>

    </div>

</div>
