<!-- Top Bar
================================================== -->
<div id="top-bar">
    <div class="container">

        <!-- Top Bar Menu -->
        <div class="ten columns">
            <ul class="top-bar-menu">
                <li><i class="fa fa-phone"></i> (123) 456 7890</li>
                <li><i class="fa fa-envelope"></i> <a href="#">mail@example.com</a></li>
            </ul>
        </div>



    </div>
</div>

<div class="clearfix"></div>


<!-- Header
================================================== -->
<div class="container">


    <!-- Logo -->
    <div class="four columns">
        <div id="logo">
            <h1><a href="index.html"><img src="src/theme/css/images/logo.png"/></a></h1>
        </div>
    </div>

    <!-- Additional Menu -->
    <div class="eight columns" style="float: right;">
        <div id="additional-menu">
            <ul>
                <li><a href="cart">Shopping Cart</a></li>
                <li><a href="checkout-billing-details.html">Checkout</a></li>
                <li *ngIf="username != null"><a href="my-account.html">My Account</a></li>
                <li *ngIf="username == null"><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>

    <!-- Shopping Cart -->
    <div class="eight columns" style="float: right">

        <div id="cart">

            <!-- Button -->
            <div class="cart-btn">
                <a href="cart" class="button adc">$178.00</a>
            </div>

            <div class="cart-list">

                <div class="arrow"></div>

                <div class="cart-amount">
                    <span>2 items in the shopping cart</span>
                </div>

                <ul>
                    <li>
                        <a href="#"><img src="src/theme/css/images/small_product_list_08.jpg" alt=""/></a>
                        <a href="#">Converse All Star Trainers</a>
                        <span>1 x $79.00</span>
                        <div class="clearfix"></div>
                    </li>

                    <li>
                        <a href="#"><img src="src/theme/css/images/small_product_list_09.jpg" alt=""/></a>
                        <a href="#">Tommy Hilfiger <br/> Shirt Beat</a>
                        <span>1 x $99.00</span>
                        <div class="clearfix"></div>
                    </li>
                </ul>

                <div class="cart-buttons button">
                    <a href="cart" class="view-cart"><span
                            data-hover="View Cart"><span>View Cart</span></span></a>
                    <a href="checkout-billing-details.html" class="checkout"><span
                            data-hover="Checkout">Checkout</span></a>
                </div>
                <div class="clearfix">

                </div>
            </div>

        </div>

        <!-- Search -->
        <nav class="top-search">
            <form action="#" method="get">
                <button><i class="fa fa-search"></i></button>
                <input class="search-field" type="text" placeholder="Search" value=""/>
            </form>
        </nav>

    </div>

</div>


<!-- Navigation
================================================== -->
<div class="container">
    <div class="sixteen columns">

        <a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i> Menu</a>

        <nav id="navigation">
            <ul class="menu" id="responsive">

                <li><a href="index.html" class="current homepage" id="current">Home</a></li>

                <li class="demo-button">
                    <a href="products">Products</a>
                </li>
                <!-- TODO: link once pages are created -->
                <li class="demo-button">
                    <a href="#">Categories</a>
                </li>


                <li class="demo-button">
                    <a href="search">Search</a>
                </li>


                <li class="demo-button">
                    <a href="cart">Shopping Cart</a>
                </li>


                <li class="demo-button">
                    <a href="#">My Account</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
