<div class="container" style="background: #c0c0c0">
    <!-- Advanced Search Banner
    ================================================== -->
    <section class="woo-search">

            <div class="woo-search-main">
                <label for="s">Search For The Finest Products:</label>
                <input [(ngModel)]="searchQuery" value="" (keydown.enter)="search()" name="s" id="s" placeholder="e.g. t-shirt" autocomplete="off" type="text">
                <button (click)="search()"><i class="fa fa-search"></i></button>
            </div>
            <a href="#" class="advanced-search-btn button">Advanced Search <i class="fa fa-caret-down"></i></a>

            <div class="woo-search-elements clearfix">

                <!-- Variables -->
                <section class="variables">

                    <select id="categories" name="categories">
                        <option>Categories</option>
                        <option>Bags</option>
                        <option>Discounted</option>
                        <option>e-books</option>
                        <option>Longsleeves</option>
                        <option>Shirts</option>
                    </select>

                    <select id="size" name="size">
                        <option>Size</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>

                    <select id="color" name="color">
                        <option>Color</option>
                        <option>Blue</option>
                        <option>Green</option>
                        <option>Red</option>
                    </select>
                </section>

                <div id="price-range">
                    <div class="padding-range">
                        <div id="slider-range-alt"></div>
                    </div>
                    <label for="amount">Price:</label>
                    <input type="text" id="amount"/>
                </div>
                <div class="clearfix"></div>

            </div>

    </section>
</div>