
<!-- Footer
================================================== -->
<div id="footer">

    <!-- Container -->
    <div class="container">

        <div class="five columns">

            <!-- Headline -->
            <h3 class="headline footer">Customer Service</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Delivery & Returns</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>

        </div>

        <div class="five columns">

            <!-- Headline -->
            <h3 class="headline footer">My Account</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
            </ul>

        </div>

        <div class="six columns">
            <img src="src/theme/css/images/logo-footer.png" alt="" class="margin-top-10"/>
            <p class="margin-top-15">Shop using the best shopping cart software.</p>
        </div>


    </div>
    <!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

    <!-- Container -->
    <div class="container">

        <div class="eight columns">Josh Chianelli & Jeroen Ketelaar</div>
    </div>
    <!-- Container / End -->

</div>
<!-- Footer Bottom / End -->
