<div class="margin-top-50"></div>

<!-- Footer
================================================== -->
<div id="footer">

    <!-- Container -->
    <div class="container">

        <div class="four columns">
            <img src="src/theme/css/images/logo-footer.png" alt="" class="margin-top-10"/>
            <p class="margin-top-15">Description of our shopping website.</p>
        </div>

        <div class="four columns">

            <!-- Headline -->
            <h3 class="headline footer">Customer Service</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Delivery & Returns</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>

        </div>

        <div class="four columns">

            <!-- Headline -->
            <h3 class="headline footer">My Account</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
            </ul>

        </div>

        <div class="four columns">

            <!-- Headline -->
            <h3 class="headline footer">Newsletter</h3>
            <span class="line"></span>
            <div class="clearfix"></div>
            <p>Sign up to receive email updates on new product announcements, gift ideas, special promotions, sales
                and more.</p>

            <form action="#" method="get">
                <button class="newsletter-btn" type="submit">Join</button>
                <input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
            </form>
        </div>

    </div>
    <!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

    <!-- Container -->
    <div class="container">

        <div class="eight columns">Josh Chianelli & Jeroen Ketelaar</div>
    </div>
    <!-- Container / End -->

</div>
<!-- Footer Bottom / End -->